@charset "UFT-8";

/* ウィンドウ幅が最大767pxまでの場合に適用(タブレット用) */

@media screen and (max-width: 767px) {
    .wrapper{
        width:80%;
    }
}


/* ウィンドウ幅が最大479pxまでの場合に適用(スマホ用) */

@media screen and (max-width: 479px) {


    
    .header {
        height: 300px;
    }

    .footer {
        height: 200px;
    }
}

/* ウィンドウ幅が最大479pxまでの場合に適用(スマホ用) */

@media screen and (max-width: 479px) {

    .wrapper{
        width:400px;
    }   

    .left {
        width: 200px;
        height: 500px;

    }

    .left-upper {
        width: 90px;
        height: 60px;
    }

    .left-lower {
        width: 90px;
        height: 320px;
    }

    .center {
        width: 200px;
        float: none; /*要素の浮遊化の解除 */
    }

    .right {
        width: 50%;
    }

    .right-inner {
        width: 110px;
    }

    .right-inner-text {
        font-size: 5px;
        padding: 5px;
        background: orange;
        border: 5px solid red;
    }

}